
/* Menu */

header{
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  height: 13vh;
  z-index: 2;
}
/*.icon{
  background-color: yellow;
}
.menu{
  background-color: green;
}

*/

/*----------------------------------------------------------------------------*/
/*-------------------------------------- MENU --------------------------------*/
/*----------------------------------------------------------------------------*/
/*------------------------------------- logo ---------------------------------*/
.logo{
  height: 13vh;
  position: absolute;
  left: 7%;
}
/*----------------------------------  menu -------------------------------------*/
/*-- menu container --*/
.menu{
  position: relative;
  bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}
.menu-icon {
  height: 5vh;
  display: none;
}
.menu ul {
  padding-left: 1.2vw;
  margin: 0;
  list-style: none;
  color: #8a9ba4;

}
.menu ul li {
  text-align: left;
  padding-right: 2vw;
  font-weight: 600;

}
.menu ul li a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}
.menu ul li ul{
  /* .....? */
}
.menu ul li ul li {
  padding-top: 8vh;
  display: none;
  width: 8vw;
}
.biger{
  text-align: left;
  width: 20vw !important;
}
.biger1{
  text-align: left;
  width: 19vw !important;
}
.biger2{
  text-align: left;
  width: 13vw !important;
}
.menu ul li ul li {
  display: inline-grid;
  border-top: 3px solid rgba(1,1,1,0);

}
.menu ul li ul li:hover{
  border-top: 3px solid #2A3296;
  color: #2A3296;
  transition: all 1s;
}
.menu ul li ul li ul{
  border-bottom: 2px solid #4d5058;
  background-color: #31343E;
  display: none;
  text-align: right;
}
.menu ul li ul li ul:hover{
  background-color: #22252b;
  transition: all .5s;
}
.menu ul li ul li ul li{
    padding: 10px 0;
    font-size: 0.8em;
  width: 100%;
  border-bottom: red;
}
.menu ul li ul li ul li:hover{
  border-top: none;
  color: #fcfcfd;
  transition: all .5s;
}
.menu ul li ul li ul li a{
  text-align: left;
}
.menu ul li ul li:hover ul{
  display: block;
  transition: all .3s;
}
.space{
 height: 100px;
 background-color: white;
 width: 80vw;
 margin-left: auto;
 margin-right: auto;
}
.img-menu{
height: 6px;
}
